#myH1{
    font-size: 5rem;
}
.myButtons{
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: blueviolet 
}

.enabled{
    background-color: blue;
    color: white;
}
