.box{
    border: 3px solid;
    width: 300px;
    height: 125px;
}

#myBox{
    background-color: lightgreen;
    margin-top: 40px;
    width: 300px;
    height: 300px;
    font-size: 4.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
   
}
#myButton{
    font-size: 3rem;
}