#countLabel{
    display: block;
    text-align: center;
    font-size: 5cm;
    font-family:  Helvetica;
}

#btnContainer{
    text-align: center;

}

.buttons{
  padding: 10px 20px;
  font-size: 1.5em;
  color: white;
  background-color: rgb(145, 145, 220);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
}

.buttons:hover{
    background-color:rgb(113, 113, 202) ;
}